body {
    overflow-x: hidden;
    margin-left: auto;
    margin-right: 0;
}

.navbar-nav .nav-link {
    color: #000;
    text-decoration: none;
    position: relative;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #9e4cff;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
}

#accede_aqui {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

#accede_aqui::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #9e4cff;
    transition: width 0.3s ease;
}

#accede_aqui:hover::before {
    width: 100%;
}

.custom-btn {
    color: #000;
    text-decoration: none;
    position: relative;
}

.custom-btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #9e4cff;
    transition: width 0.3s ease;
}

.custom-btn:hover::before {
    width: 100%;
}

.sabores {
    padding: 30px;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.countdown {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-left: 280px;
  padding: 20px; /* Añadido para dar espacio interno a la caja */
  border-radius: 10px;
  width: 430px;
  font-family: 'Righteous'
}

#Vacanavi {
    text-decoration: underline 2px;
    text-decoration-color: #9e4cff;
    user-select: none;
}